<template>
  <div id="app">
      <router-link to="/cliente">Clientes</router-link>
      <router-link to="/proveedor">Proveedor</router-link>
      <hr />
      <transition name="moveInUp">
        <router-view></router-view>
      </transition>
  </div>
</template>

<script>
import router from './routers/index';

export default {
  router: router,
  name: 'app',
  
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.moveInUp-enter-active{
  animation: fadeIn 2s ease-out;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.moveInUp-leave-active{
  animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
 0%{
  transform: translateX(0);
 }
  100%{
  transform: translateX(-400px);
 }
}
</style>
