<template>
  <div id="app">
     <label >{{ msg }}</label>
     <input />
     <button @Click='onclick' >Click</button> 
     {{ error }}
  </div>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      msg: 'Hola',
      error: 'Todo bien'
    }
  }
  
}
</script>
