<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: Repaso</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Ejemplo1</h1>
        <hr />

        <div id="app">
            <input type="text" v-model="valor" />
            <hr />
            <label v-if="valor > 0">Es positivo</label>

            <hr />
            <label v-if="valor > 0">Es positivo</label>
            <label v-else>Es negativo</label>
            
            <hr/>
            <label v-if="valor > 0">Es positivo</label>
            <label v-else-if="valor < 0">Es negativo</label>
            <label v-else>Es cero</label>
            
            <hr/>
            <div v-if="valor > 0">
                <h4>Es positivo</h4>
                <ul>
                    <li>
                        uno
                    </li>
                    <li>
                        dos
                    </li>
                </ul>
            </div>
            
            <hr/>
            <h4>Ciclo</h4>
            <ul>
                <li v-for="nro in numeros">
                    Numero: {{ nro }}
                </li>
            </ul>
            <hr/>
            <h4>Ciclo con objetos</h4>
            <ul>
                <li v-for="o in cosas">
                    Identificacion: {{ o.id }} -
                    Descripcion: {{ o.desc }}
                </li>
            </ul>
        </div>

        <script>
            var vue = new Vue({
                el: "#app",
                data: function() {
                    return {
                        valor: 0,
                        numeros: [20,30,40,50,60,70],
                        cosas: [ 
                            {id: 1, desc: 'uno'},
                            {id: 2, desc: 'dos'},
                            {id: 3, desc: 'tres'},
                            {id: 4, desc: 'cuatro'},
                        ]
                    }
                },
                
            });

        </script>
    
    </body>

</html>