<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: Repaso</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Ejemplo1</h1>
        <hr />

        <div id="app">
            <input type="text" v-model="mensaje" />
            <hr />
            {{ mensaje }}

            <hr/>
        </div>

        <script>
            var vue = new Vue({
                el: "#app",
                data: function() {
                    return {
                        mensaje: '--'
                    }
                },
                watch: {
                    mensaje: function(val) {
                        console.log(this.mensaje);
                        console.log(val);
                    }
                },
            });

        </script>
    
    </body>

</html>