<template>
    <div>
        <b-form-group
            id="fieldset-1"
            label="Nickname"
            label-for="nick"
            >
      <b-form-input id="nick" v-model="nick" trim></b-form-input>
    </b-form-group>
    </div>
</template>

<script>
export default {
    data() {
        return {
            nick: ''
        }
    },
    
}
</script>
