<template>
    <b-row>
        <b-col>
            {{ apostador.nick }}
        </b-col>
        <b-col>
            {{ apostador.apellido }}
        </b-col>
        <b-col>
            {{ apostador.nombre }}
        </b-col>
        <b-col>
            <b-button variant="primary">Editar</b-button>
        </b-col>
        <b-col>
            <b-button variant="danger">Eliminar</b-button>
        </b-col>
    </b-row>
</template>

<script>
export default {
    name: 'ItemListaApostador',
    props: {
        apostador: Object
    }
}
</script>