<template>
  <div>
    <b-alert show>Apostadores</b-alert>
    
    <div v-for="ap in apostadores">
        <ItemListaApostador v-bind:apostador="ap" />
        <hr />
    </div>
    <FormApostador />
  </div>
</template>

<script>
import ItemListaApostador from './ItemListaApostador';
import FormApostador from './FormApostador';

export default {
  name: 'ListaApostadores',
  components: {
    ItemListaApostador,
    FormApostador
  },
  data:function() {
    return {
      apostadores: [{
          nick: 'Pepe',
          apellido: 'Grillo'
        },
        {
          nick: 'Pepa',
          apellido: 'Pig'
        },

      ]
    }
  }
}
</script>
