<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Primera APP
          <div slot="subtitle">La primera App en serio</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Mis Opciones</q-list-header>
        <q-item @click.native="$router.push('/')">
          <q-item-side icon="school" />
          <q-item-main label="Inicio" sublabel="Pagina inicial" />
        </q-item>
        <q-item @click.native="$router.push('dos')">
          <q-item-side icon="code" />
          <q-item-main label="Pagina 2" sublabel="La gran pagina 2" />
        </q-item>
        <q-item @click.native="$router.push('tres')">
          <q-item-side icon="code" />
          <q-item-main label="Lista con v-for" sublabel="Q-list con q-item iterando un vector" />
        </q-item>
        <q-item @click.native="$router.push('cuatro')">
          <q-item-side icon="code" />
          <q-item-main label="Posicionamiento" sublabel="Ejemplo de uso de row/col" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
