<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: Routing</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.6/dist/vue-router.min.js"></script>

    </head>

    <body>
        <h1>Vue.JS: Routing</h1>
        <hr />
        <div id="app">

            <router-link to="/uno/1234">Mirar Uno</router-link>
            
            <router-view></router-view>

            <hr />
            <h5>Es el pie de la pagina</h5>
        </div>

        <script>
            const Uno = { 
                template: '<h4>Componente: {{ $route.params.id }}  </h4>'

            };

            var router = new VueRouter({
                routes: [{
                    path: '/uno/:id', 
                    component: Uno
                }]
            });

            var vue = new Vue({
                router: router,
                el: "#app",
            });

        </script>
    
    </body>

</html>