<template>
  <q-page class="flex flex-center">
    <q-jumbotron>
      <div class="q-display-3">Primera App</div>
      <div class="q-subheading">
        La primera App en Quasar: {{ valor }}
      </div>
      <hr class="q-hr q-my-lg">
      <div class="q-title q-mb-md">Use nuestra app.</div>
    </q-jumbotron>
    <q-btn color="primary" class="q-py-sm q-px-xl" label="Push me" v-on:click="aumentar" />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  methods: {
    aumentar: function (value) {
      this.$store.commit('increment') // invocar a una 'mutacion'
    }
  },
  computed: {
    valor: function () {
      return this.$store.state.count // accedo a la variable del estado
    }
  }
}
</script>
