<template>
  <q-page class="flex-center">
    <div>
      <div class="row">
        <div class="col-12" style="background-color:red">
          <h2>A</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="background-color:green">
          <h2>BBB</h2>
        </div>
        <div class="col-6" style="background-color:yellow">
          <h2>CCC</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="background-color:red">
          <h2>DDDD</h2>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'pagina4'
}
</script>

<style lang="">
</style>
