<template>
  <q-page class="flex flex-center">
    <div class="q-subheading">
      La primera App en Quasar: {{ valor }}
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'Pagina5',
  methods: {
    aumentar: function (value) {
      this.$store.commit('increment') // invocar a una 'mutacion'
    }
  },
  computed: {
    valor: function () {
      console.log(this.$router.currentRoute.path)
      return this.$router.currentRoute.path // accedo a la variable del estado
    }
  }
}
</script>
