<template>
  <q-page class="flex flex-center">
    <q-list>
      <q-item v-for="d in paises" v-bind:key="d.alpha2code">
        <q-item-main v-bind:label="d.name" v-bind:sublabel="d.capital" />
      </q-item>
    </q-list>
  </q-page>
</template>

<style>
</style>

<script>

export default {
  name: 'Pagina7',
  data: function () {
    return {
      paises: []
    }
  },
  created () {
    fetch('https://restcountries.eu/rest/v2/all')
      .then((respuesta) => {
        return respuesta.json()
      })
      .then((resp) => {
        this.paises = resp
      })
  }
}
</script>
