<template>
  <q-page class="flex flex-center">
    <h2>Pagina 3</h2>
    <q-list>
      <q-item v-for="d in datos" v-bind:key="d.id">
        <q-item-main v-bind:label="d.nombre" v-bind:sublabel="d.apellido" />
      </q-item>
    </q-list>
    <q-btn color="primary" class="q-py-sm q-px-xl" label="Push me" v-on:click="cambiar" />
  </q-page>
</template>

<script>
export default {
  name: 'pagina3',
  data: function () {
    return {
      datos: [
        {
          id: '1',
          nombre: 'uno',
          apellido: 'one'
        },
        {
          id: '2',
          nombre: 'dos',
          apellido: 'two'
        }
      ]
    }
  },
  methods: {
    cambiar: function (value) {
      this.$store.commit('changeValue', 10) // invocar a una 'mutacion'
    }
  }
}
</script>

<style lang="">
</style>
