<template>
  <q-page class="flex flex-center">
    <h2>Pagina 2</h2>
    <persona></persona>
    <h2>Pagina 3</h2>
    <persona></persona>
    <persona></persona>
    <persona></persona>
    <q-btn color="primary" class="q-py-sm q-px-xl" label="Push me" v-on:click="decrementar" />
  </q-page>
</template>

<script>
import persona from '../components/Persona'

export default {
  name: 'pagina2',
  components: {
    persona
  },
  methods: {
    decrementar: function (value) {
      this.$store.commit('decrement') // invocar a una 'mutacion'
    }
  }
}
</script>

<style lang="">
</style>
