<template>
  <div id="app">
    <router-link to="/uno">Uno</router-link>
    <router-link to="/dos">Dos</router-link>
    
    <router-view></router-view>
  </div>
</template>

<script>
import router from './router/router'; 

export default {
  router: router,
  name: 'app',
}
</script>

