<template>
  <div>
    <h4>{{ nombre }} </h4>
    <h4>{{ apellido }} </h4>
  </div>
</template>

<script>
export default {
  name: 'persona',
  data: function () {
    return {
      nombre: 'John',
      apellido: 'Wick'
    }
  }
}
</script>
