<template>
  <q-page class="flex flex-center">
    <h2>Pagina 2</h2>
    <persona></persona>
    <h2>Pagina 3</h2>
    <persona></persona>
    <persona></persona>
    <persona></persona>
  </q-page>
</template>

<script>
import persona from '../components/Persona'

export default {
  name: 'pagina2',
  components: {
    persona
  }
}
</script>

<style lang="">
</style>
