<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Componentes</h1>
        <hr />
        <div id="app">
            <componente_uno></componente_uno>
            <componente_uno></componente_uno>
        </div>

        <script>
            Vue.component('componente_uno' , {
                template: '<div v-on:mouseover="cambiar_nombre()"  ' +
                          '     v-on:mouseout="nombre_original()" >' + 
                          '   <span id="span_nombre">{{nombre}}</span>' +
                          '</div>',
                data: function() {
                    return {
                        nombre: "Gabriel"
                    }
                },
                methods: {
                    cambiar_nombre: function() {
                        this.nombre = "Martin"
                    },
                    nombre_original: function() {
                        this.nombre = "Gabriel"
                    }
                },
            });

            var vue = new Vue({
                el: "#app",
                
            });

        </script>
    
    </body>

</html>