<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Componentes 3</h1>
        <hr />

        <div id="app">
            <componente_uno v-on:sarasa="cambiarMensaje"></componente_uno>
            <hr/>

            <componente_dos v-bind:msg_comp="mensaje"></componente_dos>
            <hr/>

            <h3>Mensaje: {{mensaje}}</h3>

        </div>

        <script>
            Vue.component('componente_uno', {
                template: '<div><input type="text" v-model="mensaje_componente" ' +
                          '       v-on:keyup.enter="notificarCambio" ' +
                          '       >'+
                          '<br />{{mensaje_componente}}' +
                          '</div>',
                data: function() {
                    return {
                        mensaje_componente: '--'
                    }
                },
                methods: {
                    notificarCambio: function() {
                        this.$emit('sarasa', this.mensaje_componente);
                    }
                }
            });

            Vue.component('componente_dos', {
                template: '<div><h2>{{msg_comp}}</h2></div>',
                props: {
                    msg_comp: String
                }
            });

            var vue = new Vue({
                el: "#app",
                data: {
                    mensaje: ""
                }, 
                methods: {
                    cambiarMensaje: function(valor) {
                        this.mensaje = valor;
                    }
                },
                
            });

        </script>
    
    </body>
</html>