<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Get/Set</h1>
        <hr />

        <div id="app">
            <input type="text" v-model="nombrecompleto" />
            <h4>{{apellido}}</h4>
            <h4>{{nombre}}</h4>
        </div>
        
        <script>
            var vue = new Vue({
                el: "#app",
                data: {
                    apellido: "",
                    nombre: ""
                },
                computed: {
                    nombrecompleto : {
                        get: function() {
                            return this.apellido + ", " + this.nombre;
                        },
                        set: function(valor) {
                            var partes = valor.split(", ");
                            this.apellido = partes[0];
                            this.nombre = partes[1];
                        }
                    }
                },
                
            });

        </script>
    
    </body>

</html>