<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Nuestra nueva Aplicacion en Vue.JS</h1>
        <hr />

        <div id="app">
            {{ mensaje }}
            <br/>
            {{ saludar() }}
        </div>

        <script>
            var vue = new Vue({
                el: "#app",   //Propiedad del objeto de configuracion, donde se 'adjunta' la aplicacion Vue
                data: {
                    mensaje: "I'm back",
                    nombre: "Gabriel"
                },
                methods: {
                    saludar: function() {
                        return "Hola, " + this.nombre;
                    }
                },
            });

        </script>
    
    </body>

</html>