<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Props</h1>
        <hr />

        <div id="app">
           
            <h4>Computed: {{ propComputed }}</h4>
            <br />
            <h4>Computed: {{ propComputed }}</h4>
            <br />
            <h4>Metodo: {{ unMetodo() }}</h4>
            <br />
            <h4>Metodo: {{ unMetodo() }}</h4>
            
        </div>

        <script>
            var vue = new Vue({
                el: "#app",
                methods: {
                    unMetodo: function() {
                        return Math.random();
                    }
                },
                computed: {
                    propComputed : function() {
                        return Math.random();
                    }
                },
                
            });

        </script>
    
    </body>

</html>