<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue: La revancha</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <h1>Vue.JS: Props</h1>
        <hr />

        <div id="app">
            <input type="text" v-model="nombre" />
            <br />
            <input type="text" v-model="apellido" />
            <br />
            <h4>{{ nombreCompleto }}</h4>
        </div>

        <script>
            var vue = new Vue({
                el: "#app",
                data: {
                    nombre: "",
                    apellido: ""
                },
                computed: {
                    nombreCompleto : function() {
                        var aux = "";
                        if (this.nombre === "")
                            aux = this.apellido;
                        else
                            aux = this.apellido + ", " + this.nombre;
                         
                        return aux;
                    }
                },
                
            });

        </script>
    
    </body>

</html>