<template>
  <div id="app">
    <ListaApostadores />
  </div>
</template>

<script>
import ListaApostadores from './components/ListaApostadores.vue'

export default {
  name: 'app',
  components: {
    ListaApostadores
  }
}
</script>