<template>
    <div>
        Clientes
        <hr />
        <router-link to="/cliente/alta">Alta</router-link>
        <router-link to="/cliente/modificacion">Modificar</router-link>

        <router-view></router-view>
    </div>
</template>

<script>
import router from '../routers/cliente';

export default {
    router: router,
    name: 'Cliente'

}
</script>