<template>
    <div>
        Proveedores
        <hr />
        <router-link to="/alta">Alta</router-link>
        <router-link to="/modificacion">Modificar</router-link>

        <router-view></router-view>
    </div>
</template>

<script>
import router from '../routers/proveedor';

export default {
    router: router,
    name: 'Proveedor'

}
</script>